/* Fuentes para todo el documento */
html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    /*background-image: url("../images/hexagon_background_ref.png");
    background-size: cover;*/
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    color: white;  
    text-align: center; 
    background-color: #000;
}



/* Barra de navegación */
.custom-navbar {
    background-color: #141414;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo { /* Estilo para el logo en la barra de navegación */
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: left;
}
.containerProfile { /* Estilo para el contenedor del perfil en la barra de navegación */
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.perfil {   /* Estilo para la imagen de perfil en la barra de navegación */
    width: 45px;
    border-radius: 50%
}
/* Estilo para el menú de configuración */
.config-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    box-shadow: 0 0 10px #e42527;
    z-index: 1;
    border-radius: 5px;
    margin-right: 10px;
}
.config-menu ul {   /* Estilo para la lista del menú de configuración */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 260px;
}
.config-menu ul li {    /* Estilo para los items del menú de configuración */
    padding: 10px;
    text-align: left;
    align-items: center;
    color: #ffffff;
}
.config-menu ul li:hover {    /* color de fondo al pasar el ratón */
    background-color: #e4252846;
    border-radius: 5px;
    margin: 5px;
}
.config-menu ul li a {  /* Estilo para los links del menú de configuración */
    text-decoration: none;
    color: #ffffff ;
    font-size: large;
}
.config-menu ul li img{    /* Estilo para los iconos del menú de configuración */
    height: 20px;
    margin-bottom: 5px;
}
.config-menu ul hr {    /* color de fondo al pasar el ratón */
    margin: 5px 0;
    border: solid 2px #141414;
    margin-inline: 10px 30px;
}
/*termiman estilos de navbar*/

/*Estilos para el formulario*/
.container {
    margin-top: 30px;
}
#login-form {
    max-width: 600px;
    min-height: 535px;
    background-color: #141414;
    border-radius: 20px;
    padding: 30px 50px;
    margin: 20px auto;
    box-shadow: 0 0 10px #e42527;
}

#title-login {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    /* color: #ea2527; */
    color: #a8a8a8;
}

.btn-outline-danger {
    --bs-btn-color: #ea2527;
    --bs-btn-border-color: #ea2527;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ea2527;
    --bs-btn-hover-border-color: #ea2527;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ea2527;
    --bs-btn-active-border-color: #ea2527;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ea2527;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ea2527;
    --bs-gradient: none;
}

.sinContraseña {
    color: white;
    text-decoration: none;
    display: block;
}

.sinContraseña:hover {
    text-decoration: underline;
}

.registro {
    margin-top: 20px;
    display: inline-block;
}

.sinCuenta {
    color: white;
}

.linkRegistro {
    color: #ea2527;
    text-decoration: none;
}

.linkRegistro:hover {
    text-decoration: underline;
}

.form-floating label {
    color: black;
    
}

.alert {
    max-width: 476px;
    padding: 5px;
    background-color: #ef6668;
    border: 2px solid #ea2527;
}

.alert button {
    padding: 0;
}
.alert .btn-close {
    padding: 0;
    margin: 10px 5px;
}



