html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


/* Barra de navegación */
.custom-navbar {
    background-color: #141414;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo { /* Estilo para el logo en la barra de navegación */
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: left;
}
.containerProfile { /* Estilo para el contenedor del perfil en la barra de navegación */
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.perfil {   /* Estilo para la imagen de perfil en la barra de navegación */
    width: 45px;
    border-radius: 50%
}
/* Estilo para el menú de configuración */
.config-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    box-shadow: 0 0 10px #e42527;
    z-index: 1;
    border-radius: 5px;
    margin-right: 10px;
}
.config-menu ul {   /* Estilo para la lista del menú de configuración */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 260px;
}
.config-menu ul li {    /* Estilo para los items del menú de configuración */
    padding: 10px;
    text-align: left;
    align-items: center;
    color: #ffffff;
}
.config-menu ul li:hover {    /* color de fondo al pasar el ratón */
    background-color: #e4252846;
    border-radius: 5px;
    margin: 5px;
}
.config-menu ul li a {  /* Estilo para los links del menú de configuración */
    text-decoration: none;
    color: #ffffff ;
    font-size: large;
}
.config-menu ul li img{    /* Estilo para los iconos del menú de configuración */
    height: 20px;
    margin-bottom: 5px;
}
.config-menu ul hr {    /* color de fondo al pasar el ratón */
    margin: 5px 0;
    border: solid 2px #141414;
    margin-inline: 10px 30px;
}
/*termiman estilos de navbar*/


body {
    background-color: #000;

}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins';
    text-shadow:
    0 0 10px #5d5d5d,
    /* Sombra de color rojo */

    0 0 10px #a8a8a8;
}

h3{
    color: #a8a8a8;
    text-align: justify;
    font-family: 'Poppins';
}

p{
    color: #757575;
    text-align: justify;
    font-family: 'Montserrat';
    margin-top: 5px;
    margin-bottom: 5px;
}

#inicial{
    color: #757575;
    text-align: justify;
    font-family: 'Montserrat';
    margin-top: 5px;
    margin-bottom: 5px;
}

h5{
    text-align: center;
    font-family: 'Poppins';
    color: #e82c2f6e;
}

.container{
    border-radius: 30px;

    margin-bottom: 40px;
    margin-top: 30px;

    background-color: #141414;
    box-shadow: 0 0 10px #5d5d5d;

}



